<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
        {% load static %}
        <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" >
        <script src="{% static "js/jquery-3.3.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% endblock css %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>