{% extends "base.html" %}
{% block body %}

{% include "navbar.html" %}
<hr>
<div class="card bg-light mb-3" style="max-width: 18rem;">
  <div class="card-header">Header</div>
  <div class="card-body">
    <h5 class="card-title">Primary card title</h5>
    <p class="card-text">Receiver not good enought</p>
  </div>
</div>
<div class="container">
<table class="table table-bordered table-hover">
    <thead>
    <tr>
    <th>Receiver</th>
    <th>Input count</th>
    <th>S/N</th>
</tr>
    </thead>
    {% for receiver in receivers %}
<tr>
    <td>{{ receiver.model }}</td>
    <td>{{ receiver.model.input_count }}</td>
    <td>{{ receiver.serial_number }}</td>
</tr>
{% endfor %}

</table>
</div>
{% endblock body %}